[submodule "packages/openwrt-passwall2"]
	path = packages/openwrt-passwall2
	url = https://github.com/jiangtao-song/openwrt-passwall2.git
	branch = main

[submodule "packages/openwrt-gecoosac"]
	path = packages/openwrt-gecoosac
	url = https://github.com/jiangtao-song/openwrt-gecoosac.git
	branch = main

[submodule "packages/openwrt-node-packages"]
	path = packages/openwrt-node-packages
	url = https://github.com/jiangtao-song/openwrt-node-packages.git
	branch = master

[submodule "packages/openwrt-luci-app-mosdns"]
	path = packages/openwrt-luci-app-mosdns
	url = https://github.com/jiangtao-song/openwrt-luci-app-mosdns.git
	branch = main

[submodule "packages/openwrt-luci-app-lucky"]
	path = packages/openwrt-luci-app-lucky
	url = https://github.com/jiangtao-song/openwrt-luci-app-lucky.git
	branch = main

[submodule "packages/openwrt-luci-app-unblockneteasemusic"]
	path = packages/openwrt-luci-app-unblockneteasemusic
	url = https://github.com/jiangtao-song/openwrt-luci-app-unblockneteasemusic.git
	branch = main

[submodule "packages/openwrt-v2ray-geodata"]
	path = packages/openwrt-v2ray-geodata
	url = https://github.com/jiangtao-song/openwrt-v2ray-geodata.git
	branch = main

[submodule "packages/openwrt-luci-app-adguardhome"]
	path = packages/openwrt-luci-app-adguardhome
	url = https://github.com/jiangtao-song/openwrt-luci-app-adguardhome.git
	branch = main
