# Passwall2 子模块 存放路径 packages/openwrt-passwall2
[submodule "packages/openwrt-passwall2"]
	path = packages/openwrt-passwall2
	url = https://github.com/jiangtao-song/openwrt-passwall2.git
	branch = main

# Gecoosac 子模块 存放路径 packages/openwrt-gecoosac
[submodule "packages/openwrt-gecoosac"]
	path = packages/openwrt-gecoosac
	url = https://github.com/jiangtao-song/openwrt-gecoosac.git
	branch = main

[submodule "packages/openwrt-node-red"]
	path = packages/openwrt-node-red
	url = https://github.com/jiangtao-song/openwrt-node-red.git
	branch = main
